* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.row {
    display: flex;
    flex-wrap: wrap;

}


.container {
    margin: 0 auto;
}

.col50 {
    height: 50px;
    width: 50%;
    border-color: 1px solid black;
    border: 1px;
}

.logo {
    width: 100px;
    height: auto;
    padding: 5px;
    margin-top: 10px;
    margin-left: 30px;
}

.ul-logo {
    list-style: none;
    position: relative;
    left: 130px;
    bottom: 38px;
}

.ul-accedi {
    position: relative;
    left: 350px;
    bottom: 0;
    list-style: none;
}

li {
    display: inline-block;
    margin: 10px;
}




.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blu {
    background-color: rgba(7, 51, 246, 0.773);
    padding: 7px;
    color: white;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: pink;
}



.col100 {
    height: 100px;
    border-color: 1px solid black;
    border: 1px;
    margin-left: 200px;
    margin-right: 200px;
    width: 100%;
    margin-top: 50px;
}

.col40 {
    padding-left: 200px;
    width: 40%;

}

.col60 {
    width: 60%;
    padding-right: 200px;




}

.content {
    width: 100%;
    height: 300px;
    border-color: 1px solid black;
    border: 1px;
    margin-top: 50px;

}

.content1 {
    width: 100%;
    height: 300px;
    border-color: 1px solid black;
    border: 1px;
    margin-top: 50px;
}


.content-h3colonne {
    margin: 10px;
    border: 1px solid black;
    height: 50px;
}

.content-3colonne {
    margin: 10px;
    border: 1px solid black;
    height: 500px;
}


.col33 {
    width: calc(100%/3);

}


.container-colonne {
    margin-left: 300px;
    margin-right: 300px;
}