* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.row {
    display: flex;
    flex-wrap: wrap;

}


.container {
    margin: 0 auto;
    max-width: 100%;
}

.col10 {
    height: 50px;
    width: 10%;
    border-color: 1px solid black;
    border: 1px;
}

.col45 {
    height: 50px;
    width: 45%;
    border-color: 1px solid black;
    border: 1px;
}

.logo {
    width: 100px;
    height: auto;
    padding: 5px;
    margin-top: 10px;
    margin-left: 30px;
}

.ul-logo {
    padding: 5px;
    list-style: none;
    display: inline-block;
}

.ul-accedi {
    margin-left: 240px;
    bottom: 0;
    list-style: none;
}

li {
    display: inline-block;
    margin: 10px;
}

.margin30 {
    margin-top: 30px;
}

.arrow {
    font-size: 30px;
    padding: 5px;
    margin-top: 90px;
}

.resize-first-image {
    width: 630px;
    height: auto;

}

.grey {
    color: rgba(19, 16, 16, 0.305);
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blu {
    background-color: rgba(7, 87, 246, 0.342);
    padding: 7px;

}

.btn {
    padding: 7px;
    color: white;
    background-color: blue;
    border: 1px solid blue;

}

.tasto-blu {
    padding: 7px;
    color: white;
    background-color: blue;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: pink;
}



.col100 {
    height: 100px;
    border-color: 1px solid black;
    border: 1px;
    margin-left: 200px;
    margin-right: 200px;
    width: 100%;
    margin-top: 50px;
    color: black;
    font-size: 30px;
}

.col40 {
    padding-left: 200px;
    width: 40%;

}

.col60 {
    width: 60%;
    padding-right: 200px;




}

.content {
    width: 100%;
    height: 300px;
    border-color: 1px solid black;
    border: 1px;
    margin-top: 50px;

}



.content-3colonne {
    border: 1px solid black;
    height: 1000px;
    width: 250px;
    margin: 15px;

}




.container-colonne {
    margin-left: 285px;
    margin-right: 300px;
    margin-top: 50px;


}

.col80 {
    margin-left: 300px;
    margin-right: 300px;
    height: 100px;
    border-color: 1px solid black;
    border: 1px;
    width: 100%;
    margin-top: 100px;
    color: black;
    font-size: 18px;
}

.circle {

    padding: 5px;
    margin-top: 45px;
}

.user {

    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 80px;
}

.content-margin-colonne {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
}

.margin10 {
    margin-top: 10px;
}

.ul-colonne {
    list-style: none;

}

.icons-colonne {
    padding: 5px;
    margin-left: -18px;
}

.width100 {
    width: 100%;
}

.inline {
    display: inline-block;
}

.hr {
    margin-top: 35px;
    width: 60px;
}

.col-enterprise {
    width: 100%;
    height: 230px;
    border: 1px solid black;
    margin-left: 15px;
    margin-right: 50px;
    margin-top: 100px;
    color: black;

}

.container-enterprise {
    margin-left: 285px;
    margin-right: 350px;
    margin-top: 50px;
}

.icon-team {
    margin-left: 350px;

}

.margin-left {
    margin-left: 15px;
}

.margin-button {
    margin-left: 500px;

}

.img-partner {
    margin-top: 150px;
    width: 450px;
    height: auto;
}


.alignleft {
    float: left;


}

.testo-immagine {
    margin-top: 300px;

}

.col50 {
    height: 1200px;
    width: 50%;
    border-color: 1px solid black;
    border: 1px;
    padding-left: 50px;
}

.container-partners {
    margin-left: 298px;
    margin-right: 335px;
    margin-top: 50px;
}